<html>
	<body>
		<img src="http://i.imgur.com/ScnbnsQ.png" alt="Logo">
		<h1 align="center" >Bonjour ${model.models.get(0)} </h1>
		<h3 align="center">Les BAP a preparer le ${model.models.get(1)} </h3>
		<br/>
		<div>Pour les collaborateurs :</div>
		<div>
			<strong><em>${model.models.get(2)}</em></strong>
		</div>
		<br/><br/><br/><hr/>
		<div>2015 © <a href="https://ma.linkedin.com/in/anas-masaaf-91ab176a" >Anas </a>& <a href="https://ma.linkedin.com/in/jaouad-el-gharrasse-4aa470100" >Jaouad</a> </div>
	</body>
	<a href="mailto:lambda.bilan@gmail.com" target="_blank">Contactez-nous</a>
</html>